.gallery-container {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create four equal columns that sits next to each other 
 flex combines flex-grow, flex-shrink, flex-basis
 */

.column {
    display: flex;
    width: 100%;
    height: 300px;
    flex: 50%;
    max-width: 50%;
    padding: 0 5px;
}

.column img {
    align-content: between;
    margin: 8px 10px;
    vertical-align: middle;
    width: 50%;
    cursor: pointer
}

#seeAllBtn {
    position: relative;
    left: 800;
    bottom: 50;
}

.slideshow-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.slideshow-header {
    text-align: center;
    margin-bottom: 3%;
}

.little-fun {
    position: absolute;
    display: flex;
    top: 8%;
    right: 10%;
}

.little-fun i {
    margin: 20%;
}

.little-fun i:hover {
    opacity: 0.3;
}

.slide-container {
    width: 60%;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
    position: relative;
}

.slide {
    display: flex;
    width: 100%;
    height: 500px;
}

.slideshow-img {
    width: 100%;
    vertical-align: middle;
}

#prevBtn {
    position: absolute;
    z-index: 10;
    left: 5%;
    font-size: 80px;
    color: black;
    opacity: 0.5;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    z-index: 10;
    font-size: 80px;
    color: black;
    opacity: 0.5;
    cursor: pointer;
    right: 5%;
}

.bubbles {
    display: flex;
    position: absolute;
    padding: 10px;
    left: 40%;
}

.bubbles i {
    margin: 10%;
    color: rgb(255, 230, 102);
    opacity: 0.1;
}

.bubbles-hili {
    opacity: 1 !important;
}


/* responsive layout - make a two-column layout instead of three 

@media screen and (max-width: 400px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

*/